.created-account-container {
  display: flex;
  flex-direction: column;
}

.success-message {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #28a745;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-top: 100px;
}

.back-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.back-button:hover {
  background-color: #0056b3;
}