.form-search {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 20px;
}

.button-search-bank {
  height: 50px;
  width: 100px;
  padding: 10px;
  font-size: 16px;
  background-color: #f2c30d;
  font-weight: bold;
  color: #212529;
  border: none;
  border-color: #F2C30D;
  border-radius: 20px;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 10px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card span {
  display: block;
  white-space: initial;
  font-size: 18px;
  max-height: 80px;
  margin-bottom: 5px;
}

.card input {
  display: block;
  white-space: initial;
  font-size: 16px;
  height: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.card button {
  padding: 10px;
  font-size: 16px;
  background-color: #411c54;
  color: #FFFFFF;
  height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.card-come-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-come-back button {
  padding: 10px;
  font-size: 16px;
  background-color: #411c54;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}